<mat-toolbar class="flex flex-wrap space-x-12" color="primary">
  <button *ngIf="!isLoggedIn" routerLink="/login" class="hover:text-black">
    Login
  </button>

  <button *ngIf="!isLoggedIn" routerLink="/signup" class="hover:text-black">
    Signup
  </button>
  <button *ngIf="isLoggedIn" routerLink="/books" class="hover:text-black">
    Books
  </button>
  <button *ngIf="isLoggedIn" (click)="onLogOut()" class="hover:text-black">
    Logout
  </button>

  <div class="flex-grow"></div>

  <ng-container *ngIf="isLoggedIn && userName; then loggedInTemplate">
  </ng-container>

  <ng-template #loggedInTemplate>
    <span class="text-white">Welcome : {{ userName }}</span>
  </ng-template>
</mat-toolbar>
