<mat-toolbar class="flex flex-wrap space-x-12" color="primary">
  <button *ngIf="!isLoggedIn" routerLink="/login" class="hover:text-black">
    Login
  </button>

  <button *ngIf="!isLoggedIn" routerLink="/signup" class="hover:text-black">
    Signup
  </button>

  <button mat-button [matMenuTriggerFor]="mainMenu" *ngIf="isLoggedIn">
    <p class="hover:text-black">Menu</p>
  </button>

  <mat-menu #mainMenu="matMenu">
    <button [routerLink]="['/books']" mat-menu-item>Books</button>
    <button
      [routerLink]="['/categories']"
      class="hover:text-black"
      mat-menu-item
    >
      Categories
    </button>
    <button
      class="hover:text-black"
      mat-menu-item
      (click)="toggleUpdateModal()"
    >
      Change your data
    </button>
  </mat-menu>

  <div class="flex-grow"></div>

  <ng-container *ngIf="isLoggedIn && user; then loggedInTemplate">
  </ng-container>

  <ng-template #loggedInTemplate>
    <span class="text-white">Welcome : {{ user.name }}</span>
    <button *ngIf="isLoggedIn" (click)="onLogOut()" class="hover:text-black">
      Logout
    </button>
  </ng-template>
</mat-toolbar>
