<mat-card class="small-card rounded-lg shadow-lg">
  <!-- Header -->
  <mat-card-header class="justify-center !pt-6">
    <mat-card-title>
      <span class="text-lg font-bold">Title: {{ book.title }}</span>
    </mat-card-title>
  </mat-card-header>

  <!-- Cover Image -->
  <mat-card-content class="text-center !pt-2">
    <img
      [src]="apiUrl + book.imageUrl"
      alt="Example image"
      class="object-cover h-32 w-full rounded-md"
    />
  </mat-card-content>

  <!-- Content -->
  <mat-card-content class="text-center !pt-5">
    <span class="text-base">Description: {{ book.description }}</span>
  </mat-card-content>

  <mat-card-content class="text-center !pt-5">
    <span class="text-base">Author: {{ book.author.name }}</span>
  </mat-card-content>

  <mat-card-content class="text-center !pt-5">
    <span class="text-base">Category: {{ book.category.name }}</span>
  </mat-card-content>

  <!-- Actions -->
  <mat-card-footer>
    <mat-card-actions class="justify-center !pt-10">
      <button
        mat-button
        (click)="editBook()"
        class="bg-blue-500 text-white rounded-md px-4 py-2 hover:bg-blue-700"
      >
        Update
      </button>
      <button
        mat-button
        (click)="deleteBook()"
        class="bg-red-500 text-white rounded-md px-4 py-2 hover:bg-red-700"
      >
        Delete
      </button>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
