<div
  class="authentication-card-container"
  fxLayout="column"
  fxLayoutAlign="center"
>
  <mat-card class="authentication-card">
    <mat-card-header class="justify-center">
      <mat-card-title>
        <p>Login</p>
      </mat-card-title></mat-card-header
    >
    <mat-card-content>
      <form
        [formGroup]="loginForm"
        fxLayout="column"
        fxLayoutAlign="center stretch"
      >
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSubmit()">
        <span> Login </span>
      </button>

      <button mat-button routerLink="/signup" routerLinkActive="active">
        <span class="pl-14 pr-12"> Don't have an account? Signup here. </span>
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="onAdminSubmit()"
        class="w-24"
      >
        <span class="">Admin Login</span>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
