<!-- start of create form -->

<div class="flex justify-center w-56" *ngIf="!data">
  <form [formGroup]="CreateBookForm" class="space-y-4">
    <div class="relative rounded-md pt-8">
      <input
        type="text"
        formControlName="title"
        [ngClass]="{
          'bg-red-500':
            CreateBookForm.controls['title'].invalid &&
            CreateBookForm.controls['title'].touched,
          'text-white':
            CreateBookForm.controls['title'].invalid &&
            CreateBookForm.controls['title'].touched
        }"
        class="form-input block w-full sm:text-sm sm:leading-5 text-center border-2 focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
        placeholder="Title"
      />
    </div>

    <div class="relative rounded-md p-2">
      <input
        type="text"
        [ngClass]="{
          'bg-red-500':
            CreateBookForm.controls['description'].invalid &&
            CreateBookForm.controls['description'].touched,
          'text-white':
            CreateBookForm.controls['description'].invalid &&
            CreateBookForm.controls['description'].touched
        }"
        formControlName="description"
        class="form-input block w-full sm:text-sm sm:leading-5 text-center border-2 focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
        placeholder="Description"
      />
    </div>
    <div class="relative rounded-md !pl-20 !flex !justify-center !items-center">
      <input type="file" (change)="onFileChange($event)" />
    </div>
    <div class="relative rounded-md p-2">
      <input
        type="text"
        [ngClass]="{
          'bg-red-500':
            CreateBookForm.controls['category'].invalid &&
            CreateBookForm.controls['category'].touched,
          'text-white':
            CreateBookForm.controls['category'].invalid &&
            CreateBookForm.controls['category'].touched
        }"
        formControlName="category"
        class="form-input block w-full sm:text-sm sm:leading-5 text-center border-2 focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
        placeholder="Category"
      />
    </div>
    <div class="flex justify-center pt-4 space-x-4">
      <button
        *ngIf="!formError"
        (click)="submitCreateForm()"
        class="bg-purple-500 hover:bg-purple-300 text-white hover:text-black font-bold py-2 px-4 border-b-4 hover:border-purple-400 rounded"
      >
        Submit
      </button>
      <button
        (click)="closeModal()"
        class="bg-purple-500 hover:bg-purple-300 text-white hover:text-black font-bold py-2 px-4 border-b-4 hover:border-purple-400 rounded"
      >
        Close
      </button>
    </div>
    <div class="flex justify-center pt-2">
      <p *ngIf="formError" class="text-red-600">
        {{ formError }}
      </p>
    </div>
  </form>
</div>
<!-- end of create form -->

<!-- Start update form -->
<div class="flex justify-center w-56" *ngIf="data">
  <form
    [formGroup]="UpdateBookForm"
    class="space-y-4"
    *ngIf="data && UpdateBookForm"
  >
    <div class="relative rounded-md pt-8 text-center">
      <p class="text-xl">Title</p>
      <input
        [ngClass]="{
          'bg-red-500':
            UpdateBookForm.controls['title'].invalid &&
            UpdateBookForm.controls['title'].touched,
          'text-white':
            UpdateBookForm.controls['title'].invalid &&
            UpdateBookForm.controls['title'].touched
        }"
        type="text"
        formControlName="title"
        class="form-input block w-full sm:text-sm sm:leading-5 text-center border-2 focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
        placeholder="Title"
      />
    </div>
    <div class="relative rounded-md p-2 text-center">
      <p class="text-xl">Description</p>
      <input
        [ngClass]="{
          'bg-red-500':
            UpdateBookForm.controls['description'].invalid &&
            UpdateBookForm.controls['description'].touched,
          'text-white':
            UpdateBookForm.controls['description'].invalid &&
            UpdateBookForm.controls['description'].touched
        }"
        type="text"
        formControlName="description"
        class="form-input block w-full sm:text-sm sm:leading-5 text-center border-2 focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
        placeholder="Description"
      />
    </div>
    <div class="relative rounded-md !pl-20 !flex !justify-center !items-center">
      <input type="file" (change)="onFileChange($event)" />
    </div>
    <div class="relative rounded-md p-2 text-center">
      <p class="text-xl">Category</p>
      <input
        [ngClass]="{
          'bg-red-500':
            UpdateBookForm.controls['category'].invalid &&
            UpdateBookForm.controls['category'].touched,
          'text-white':
            UpdateBookForm.controls['category'].invalid &&
            UpdateBookForm.controls['category'].touched
        }"
        type="text"
        formControlName="category"
        class="form-input block w-full sm:text-sm sm:leading-5 text-center border-2 focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
        placeholder="Category"
      />
    </div>
    <div class="relative rounded-md p-2 text-center">
      <p class="text-xl">Author</p>
      <input
        [ngClass]="{
          'bg-red-500':
            UpdateBookForm.controls['author'].invalid &&
            UpdateBookForm.controls['author'].touched,
          'text-white':
            UpdateBookForm.controls['author'].invalid &&
            UpdateBookForm.controls['author'].touched
        }"
        type="text"
        formControlName="author"
        class="form-input block w-full sm:text-sm sm:leading-5 text-center border-2 focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
        placeholder="Author"
      />
    </div>
    <div class="flex justify-center pt-4 space-x-4">
      <button
        (click)="submitUpdateForm()"
        class="bg-purple-500 hover:bg-purple-300 text-white hover:text-black font-bold py-2 px-4 border-b-4 hover:border-purple-400 rounded"
      >
        Update
      </button>
      <button
        (click)="closeModal()"
        class="bg-purple-500 hover:bg-purple-300 text-white hover:text-black font-bold py-2 px-4 border-b-4 hover:border-purple-400 rounded"
      >
        Close
      </button>
    </div>
    <div>
      <p *ngIf="formError" class="text-red-600 text-center">
        {{ formError }}
      </p>
    </div>
  </form>
</div>
<!-- End of update form -->
