<div class="flex flex-row justify-center pt-4">
  <button
    class="bg-purple-500 hover:bg-purple-300 text-white hover:text-black font-bold py-2 px-4 border-b-4 hover:border-purple-400 rounded"
    (click)="toggleCreate()"
  >
    {{ !isCreateBookForm ? "Create New Book" : "Cancel" }}
  </button>
</div>

<ng-template #noBooks>
  <p>No books available.</p>
</ng-template>

<div *ngIf="books.length > 0; else noBooks" class="flex flex-wrap">
  <div *ngFor="let book of books" class="bg-red-400 mt-7 w1/4 p-4 ml-20">
    <mat-card class="book-card h-96">
      <mat-card-header class="justify-center !pt-6">
        <mat-card-title>
          <span *ngIf="!book.editing">Title: {{ book.title }}</span>
          <input
            class="text-center border border-solid border-black w-48"
            *ngIf="book.editing"
            [(ngModel)]="book.title"
            placeholder="Title"
          />
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="text-center !pt-5">
        <span *ngIf="!book.editing">Description: {{ book.description }}</span>
        <input
          class="text-center border border-solid border-black w-48"
          *ngIf="book.editing"
          [(ngModel)]="book.description"
          placeholder="Description"
        />
      </mat-card-content>
      <mat-card-content class="text-center !pt-5">
        <span *ngIf="!book.editing">Author: {{ book.author.name }}</span>
        <input
          class="text-center border border-solid border-black w-48"
          *ngIf="book.editing"
          [(ngModel)]="book.author.name"
          placeholder="Author"
        />
      </mat-card-content>
      <mat-card-content class="text-center !pt-5">
        <span *ngIf="!book.editing">Category: {{ book.category.name }}</span>
        <input
          class="text-center border border-solid border-black w-48"
          *ngIf="book.editing"
          [(ngModel)]="book.category.name"
          placeholder="Category"
        />
      </mat-card-content>
      <mat-card-actions class="justify-center !pt-44">
        <button mat-button (click)="toggleEdit(book)">
          {{ book.editing ? "Save" : "Update" }}
        </button>
        <button *ngIf="book.editing" mat-button>Cancel</button>
        <button mat-button (click)="onDeleteBook(book.id)">Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
